html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.center {
    margin: auto;
    border-radius: 50px;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}

h1 {
    text-align: center;
}

header nav ul{
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

header nav ul li{
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
}

body {
    border-radius: 50px;
    background: #5a6987;
    box-shadow:  -20px -20px 60px #4d5973,
                    20px 20px 60px #68799b; 
    }
