{% extends 'base.html' %}

<title>
    {% block title %}
        Signup
    {% endblock title %}
</title>
</head>
<body>
    <main>
        {% block content %}
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button2">Signup</button>
                </form>
            </div>
        {% endblock content %}
    </main>
</body>
