{% extends 'base.html' %}

<title>
    {% block title %}
        My Tasks
    {% endblock title %}
</title>
</head>
<body>
    <main>
        {% block content %}
            <div>
                <h1>{{ show_project.name }}</h1>
                <p>{{ show_project.description }}</p>
                <h2>Tasks</h2>
                <a href="{% url "create_task" %}">Create a new task
            </a>
            {% if not show_project %}
                <p>This project has no tasks</p>
            {% else %}
                <table style="text-align:center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"M d, Y" }}</td>
                                <td>{{ task.due_date|date:"M d, Y" }}</td>
                                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endblock content %}
</main>
